<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/navbar.ejs") %>
      <div class="container">
        <ul class="collection with-header">
          <% if (items.length>0){ %>
          <%  items.forEach(item =>{ %>
                <li class="collection-item">
                  <div>
                    <a href="/items/<%= item.id%>" class="secondary-content">
                      <%=item.name%> <%=item.price%>
                    </a>
                      <i class="material-icons">edit</i>
                      <i class="material-icons">delete</i>
                  </div>
                </li>
          <%  }); %>
          <% }else{%>
            <li class="collection-item">There is no items</li>
          <% } %>          
          </ul>
      </div>
</body>
</html>